div.displayheader
{
  width:930px;
  background-color:#fff;
  padding:15px;
  margin-bottom:15px;
}
div.displayitem
{
  width:960px;
  margin-bottom:15px;
}
div.displayitemheader
{
  width:930px;
  padding:15px;
  color:#fff;
  background-color:#2a84bf;
}
table.foodlog
{
  width:960px;
  padding:0px;
  margin:0px;
  background-color:#fff;
  border-spacing:0px;
  border-collapse:collapse;
}
table.foodlog th
{
  padding:5px 15px;
  border:1px solid #bdc3c7;
}
table.foodlog td
{
  padding:5px 15px;
  border:1px solid #bdc3c7;
  text-align:center;
}
table.calendar
{
  width:960px;
  height:630px;
  background-color:#fff;
  padding:0px;
  margin:0px;
  border-spacing:0px;
  border-collapse:collapse;
}
table.calendar th
{
  width:14.2857143%;
  height:30px;
  line-height:30px;
}
table.calendar td
{
  width:14.2857143%;
  height:100px;
  text-align:center;
  border:1px solid #F1F1F1;
  cursor:pointer;
}
table.calendar td:hover
{
  background-color:#F7F7F7;
}
